/*body				{background: #333;}*/

#page-wrap:after 	{content: "Smartphone Layout";}

h2 span, section h3	{display: none;}
body				{font-size: large; 
					text-align: center;
					margin: 10px 30px 10px 30px}
footer, input		{font-size: large;}

#map {
	margin:0 auto;
	width:500px;
	height:380px;
}